@charset "utf-8";

body {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  gap: 32px;
  background-color: #f0f8ff;
  border: 5px solid #ccc;
  border-radius: 12px;
  padding: 24px;
  margin: 40px;
  background-image: url("background.jpg");
}

.right {
  margin-top: 80px;
}

.tbl {
  border-collapse: collapse;
  margin-bottom: 24px;
  background-color: rgba(255, 255, 255, 0.6);
}

.tbl td,
.tbl th {
  border: 1px dotted #000;         
  padding: 8px;                    
  text-align: left; 
}

ul {
  list-style-type: square;
}

.my-name {
  background-color: rgba(255, 255, 255, 0.6);
}

.jp-name {
  font-size: 32px;
  color: #111;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.en-name {
  font-size: 20px;
  color: #007acc;
  margin-bottom: 1em;
  font-weight: normal;
  font-style: italic;
}

.card-box {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
  background-color: rgba(255, 255, 255, 0.6);
}

.intro-box {
  margin-top: 24px; 
  padding: 0;
  text-align: center;
}